.buyCharacter {
    margin-top: 50px;
    text-align: center;

    &__title {
        img {
            width: 720px;
        }
    }

    &__content {
        margin-top: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &__character {
            width: 330px;

            img {
                width: 90%;
            }
        }

        &__main {
            width: 530px;
            background-size:cover;
            background-repeat:no-repeat;
            height:820px;

            &__desc {
                p {
                    margin-top:2%;
                    margin-left:3%;
                    font-size:20px;
                    text-align:center;
                    padding-top:30px;
                }
            }

            &__one {
                img {
                    width: 25%;
                }

                span {
                    font-size: 35px;
                }

                .price {
                    border:5px solid #00B8C6;
                    border-radius:50px;
                    width:300px;
                    height:60px;
                    background:#003D50;

                    color:yellow;
                    line-height:56px;
                    font-size:43px;
                    font-weight:600;

                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                }

                button {
                    margin-top: 20px;

                    width: 30%;
                    img {
                        width: 100%;
                    }
                }

                margin-bottom: 30px;
            }

            &__total {
                &__title {
                    font-size: 38px;
                }

                &__progress {
                    display: flex;
                    justify-content: center;

                    margin-top: 20px;
                    
                    &__left, &__right {
                        width: 20%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        color: #002f47;

                        .description {
                            font-size: 14px;
                        }

                        .value {
                            font-size: 25px;
                            font-weight: 900;
                        }

                        img {
                            width: 80%;
                        }
                    }

                    &__right {
                        img {
                            width: 45%;
                        }
                    }

                    &__bar {
                        position: relative;
                        width: 50%;
                        top: 55px;

                        &__desc {
                            left: 50%;
                            transform: translate3d(-50%, 0, 0);

                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            font-size: 14px;
                            color: white;

                            position: absolute;
                            top: -65px;

                            padding: 5px;
                            background: #32c4eb;
                            border-radius: 10px;
                            border: 3px solid #12435b;

                            .value {
                                font-size: 25px;
                                font-weight: 900;
                            }
                        }

                        &__main {
                            height: 35px;
                            border-radius: 100vw;
                            border: 3px solid #666666;
                            background: #224146;
                            overflow: hidden;

                            &__current {
                                width: 50%;
                                height: 100%;
    
                                background: linear-gradient(#45cbf0, #baebf8 , #175a6b);
    
                                position: relative;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }

        &__special {
            width: 330px;
            text-align: center;

            &__item {
                &__pic {
                    position: relative;
                    img {
                        width: 274px;
                    }

                    &__gif {
                        width: 274px;
                        position: absolute;
                        transform: translate3d(-50%, -50%, 0);
                        top: 45%;
                        left: 50%;
                    }
                }

                &__price {
                    border:5px solid #00B8C6;
                    border-radius:50px;
                    width:180px;
                    height:50px;
                    background:#003D50;

                    color:yellow;
                    font-size:32px;
                    font-weight:600;

                    margin-left: auto;
                    margin-right: auto;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &__buyBtn {
                    margin-top: 10px;
                    img {
                        width: 170px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .buyCharacter {
        padding-left: 3%;
        padding-right: 3%;

        &__content {
            &__special {
                display: flex;
                width: 100%;
                justify-content: center;
                margin-top: 5%;

                &__item {
                    padding: 0 2%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .buyCharacter {
        &__title {
            img {
                width: 90%;
            }
        }
    }
}

@media (max-width: 600px) {
    .buyCharacter {
        margin-top: 8.3vw;

        &__content {
            margin-top: 8.3vw;
    
            &__character {
                width: 55vw;
    
                img {
                    width: 90%;
                }
            }
    
            &__main {
                width: 88.3vw;
                height: 136.6vw;
    
                &__desc {
                    p {
                        font-size: 3.3vw;
                        padding-top: 5vw;
                    }
                }
    
                &__one {
    
                    span {
                        font-size: 6vw;
                    }
    
                    .price {
                        border:0.9vw solid #00B8C6;
                        border-radius: 9vw;
                        width: 50vw;
                        height: 10vw;
    
                        line-height: 9.3vw;
                        font-size: 7vw;
                        
                        margin-top: 1.7vw;
                    }
    
                    button {
                        margin-top: 3.3vw;
                    }
    
                    margin-bottom: 5vw;
                }
    
                &__total {
                    &__title {
                        font-size: 6.3vw;
                    }
    
                    &__progress {    
                        margin-top: 3.3vw;
                        
                        &__left, &__right {    
                            .description {
                                font-size: 2.3vw;
                            }
    
                            .value {
                                font-size: 4.1vw;
                            }
                        }
    
                        &__bar {
                            top: 9.1vw;
    
                            &__desc {
                                font-size: 2.3vw;

                                top: -10.8vw;
    
                                padding: 0.83vw;
                                border-radius: 1.6vw;
                                border: 0.5vw solid #12435b;
    
                                .value {
                                    font-size: 4.17vw;
                                }
                            }
    
                            &__main {
                                height: 5.9vw;
                                border: 0.5vw solid #666666;
                            }
                        }
                    }
                }
            }
    
            &__special {    
                &__item {
                    &__pic {
                        img {
                            width: 45.6vw;
                        }
                    }
    
                    &__price {
                        border-radius: 8.3vw;
                        width: 30vw;
                        height: 8.3vw;

                        font-size: 5.3vw;
                    }
    
                    &__buyBtn {
                        margin-top: 1.7vw;
                        img {
                            width: 28.3vw;
                        }
                    }
                }
            }
        }
    }   
}