.buyCharacter {
  margin-top: 50px;
  text-align: center;

  img {
    width: 100%;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;

    &__character {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__title {
        width: 80%;
      }

      &__pic {
        width: 100%;
      }
    }

    &__one {
      position: relative;

      &__back {
        width: 100%;
      }

      &__oneBtn {
        width: 25%;

        position: absolute;
        transform: translate3d(-50%, -50%, 0);

        top: 52%;
        left: 50%;

        &:hover {
          top: 52%;
          box-shadow: unset;
        }
      }

      &__buyBtn {
        width: 40%;
        position: absolute;
        transform: translate3d(-50%, -50%, 0);

        top: 84%;
        left: 50%;

        &:hover {
          top: calc(84% - 3px);
          box-shadow: unset;
        }
      }
    }
  }

  &__special {
    display: flex;
    justify-content: center;
    margin-top: 5%;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__title {
        width: 35%;
      }

      &__gif {
        width: 60%;
        transform: scale(1.3);
        margin: -50px 0 -50px 0;
      }

      &__price {
        margin-top: 7%;
        width: 25%;
      }

      &__buyBtn {
        margin-top: 2%;
        width: 38%;
      }
    }
  }

  &__total {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      width: 40%;
      margin-bottom: 20px;
    }

    &__progress {
      width: 100%;

      display: flex;
      justify-content: center;

      margin-top: 20px;

      &__left,
      &__right {
        position: relative;

        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

        color: #002f47;

        .value {
          font-size: 45px;
          font-weight: 900;

          position: absolute;
          transform: translate3d(-50%, -50%, 0);
          left: 50%;
          top: 50%;
        }

        img {
          width: 60%;
        }
      }

      &__bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;
        width: 50%;

        &__desc {
          position: relative;

          width: 35%;

          color: #002f47;

          .value {
            font-size: 50px;
            font-weight: 900;

            position: absolute;

            transform: translate3d(-50%, -50%, 0);
            left: 50%;
            top: 65%;
          }
        }

        &__main {
          position: relative;
          margin-top: 40px;

          &__back {
            width: 100%;
          }

          &__progress {
            width: 50%;

            position: absolute;
            transform: translate3d(0, -50%, 0);
            left: 2%;
            top: 50%;

            img {
              height: 55px;
            }
          }

          &__head {
            width: 25%;

            position: absolute;
            transform: translate3d(-50%, -50%, 0);
            left: 50%;
            top: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .buyCharacter {
    padding: 0 5%;

    &__total {
      &__title {
        margin-bottom: 1.66vw;
      }

      &__progress {
        margin-top: 1.66vw;

        &__left,
        &__right {
          .value {
            font-size: 5.4vw;
          }
        }

        &__bar {
          &__desc {
            .value {
              font-size: 4.1vw;
            }
          }

          &__main {
            margin-top: 3.33vw;

            &__progress {
              img {
                height: 4.1vw;
              }
            }
          }
        }
      }
    }

    &__special {
      &__item {
        &__gif {
          margin: -20px 0 -20px 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
	.buyCharacter {
		&__top {
			flex-direction: column;
		}

		&__special {
			flex-direction: column;

			&__item {
				margin-bottom: 10vw;
			}
		}
	}
}