.navBar {
    position: fixed;
    z-index: 100;

    left: 0;
    top: 50%;

    transform: translate3d(0, -50%, 0);

    &__iconWrapper {
        &__item {
            display: block;
            position: relative;
            left: -180px;

            margin: 20px 0;
            width: 250px;
            height: 80px;

            background: #42472b;
            border: 2px solid #42472b;
            border-radius: 50px;
            color: white;
            font-size: 1.2em;
            transition: all 0.4s ease;
            
            &__icon {
                width: 36px;
                position: absolute;
                right: 15px;

                transform: translate3d(0, -50%, 0);
                top: 50%;

                img {
                    width: 100%;
                }
            }

            &__title {
                transition: all 0.5s ease;
                position: absolute;
                left: 0;

                transform: translate3d(0, -50%, 0);
                top: 50%;
            }

            &:hover {
                left: -50px;
                color: white;
                background: #27ae60;
                cursor: pointer;

                .navBar__iconWrapper__item__title {
                    left: 90px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .navBar {
        display: none;
    }
}